body{
    background-color: #e9eaed;
}
body a, body a:hover{
    text-decoration: none;
}
.main{
    /*margin-top: 45px;*/
}
.topUsers-list{
    padding-left: 0;
    list-style: none;
    margin-bottom: 10px;
}
.topUsers-list .item {
    margin-bottom: 8px;
}
.topUsers-list .item img {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
.topUsers-list .item .info, .moreTop {
font-size: 14px;
}
.topUsers-list .name {
    display: block;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
}

.topUsers-list ul{

}
.topUsers-list li{
    float: left;
    height: 90px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    margin-left: 15px;
}
@media (min-width: 992px){
    .topUsers-list li{
        /*width: 100%;*/
    }
}
.info .views {
     line-height: 16px;
     font-size: 14px;
 }
.views {
    background: url("../img/view_icon.png") no-repeat scroll 0 0 transparent;
    padding-left: 18px;
}

/*sidebar*/

section.block-feature-cover {
padding-top: 10px;
    margin-top: 20px;
    background-color: #FFFFFF;
}
h2.sidebar-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
    font-weight: bold;
    margin-top: 0px;
}
section.block-feature-cover hr{
    margin-top: 10px;
    margin-bottom: 15px;
}
section.block-feature-cover ul {
    padding: 0;
    list-style-type: none;
}
.loading {
    text-align: center;
    margin-bottom: 20px;
}

.loading a.btn.spin {
    background: #fff url(../img/spin-white.gif) center center no-repeat;
    text-indent: -999px;
    overflow: hidden;
    border-color: #fff;
    cursor: default;
    width: 55px;
    height: 55px;
}
section{

 }
section.ads{
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
section.block-feature-cover li {
    padding: 0;
    margin-bottom: 20px;
}
section.block-feature-cover .img-container {
    display: block;
    overflow: hidden;
    height: 105px;
    margin-bottom: 3px;
    background-color: #f4f4f4;
    /*min-width: 300px;*/
    text-align: center;
}
section.block-feature-cover .img-container img {
    display: block;
    border: none;
    width: 100%;
    margin-top: -26px;
}
section.block-feature-cover .info-container h3 {
    font-size: 15px;
    line-height: 1.1em;
    word-wrap: break-word;
    margin-top: 5px;
}
@media (min-width: 992px){
    .col-md-8 {
        width: 65.666667%;
    }
    .col-md-7 {
        width: 57.333333%;
    }
    .col-md-7.content {
        width: 56.27%;
        margin-right: 10px;
    }
    .col-md-3 {
        padding-left: 0;
        padding-right: 0;
        width: 26%;
    }
}
.nodes .node{
    background: #fff;
    padding: 5px 10px 5px 10px;
}
.nodes .title{
    margin-top: 0;
    border-left: 1px rgba(31, 30, 30, 0.27) solid;
    border-right: 1px rgba(31, 30, 30, 0.27) solid;
    padding-left: 10px;
    padding-right: 10px;
}
.nodes .title h2{
    margin-top: 0;
    margin-bottom: 0px;
}
.nodes .title h2 a{
    color: #000000;
    font-size: 20px;
}
.node-info {

}
.nodes .node-body img{
    width: 100%;
    margin-top: -70px;
    border-left: 1px rgba(31, 30, 30, 0.27) solid;
    border-top: 1px rgba(31, 30, 30, 0.27) solid;
    border-right: 1px rgba(31, 30, 30, 0.27) solid;

}
.btn-vote {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.btn-vote li {
    margin: 0 5px 0 0;
    float: left;
    list-style: none;
}
.btn-vote a {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 35px;
    height: 25px;
    display: block;
}
/*.btn-vote .up {*/
    /*background: url(../img/sticky-vote.png) no-repeat;*/
/*}*/
/*.btn-vote .down {*/
    /*background: url(../img/sticky-vote.png) no-repeat 0 -32px;*/
/*}*/
/*.btn-vote .comment {*/
    /*background: url(../img/other-buttons.png) no-repeat 0 -32px;*/
/*}*/

.post-afterbar-a .share ul {
    overflow: hidden;
    list-style-type: none;
}
.post-afterbar-a .share li {
    float: left;
    margin-right: 10px;
}
.post-afterbar-a .btn-share {
    display: block;
    color: #fff;
    font-weight: bold;
    height: 34px;
    background-color: #f4f4f4;
    line-height: 34px;
    padding: 0 15px 0 34px;
    border-radius: 3px;
    text-align: center;
}
.post-afterbar-a .btn-share.facebook {
    background: #3b5998 url(../img/sharing-button-a.png) 0 0 no-repeat;
}
.post-afterbar-a .btn-share.facebook:hover, .post-afterbar-a.in-post-bot .btn-share.facebook:hover {
    background-color: #4c70ba;
}
.post-afterbar-a .btn-share.twitter {
    background: #00aced url(../img/sharing-button-a.png) 0 -34px no-repeat;
}
.post-afterbar-a .btn-share.twitter:hover, .post-afterbar-a.in-post-bot .btn-share.twitter:hover {
    background-color: #21c2ff;
}
.post-afterbar-a .share.right li {
    margin: 0 0 0 10px;
}

.node-block{
    margin-bottom: 10px;
    overflow:hidden;
}
.video-img{
    width: 100%;
}
.view-title{
    position: absolute;
    font-size: 20px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 1);
    line-height: 1.5;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    z-index: 10;
}
.navbar-inverse {
    background-color: #3b5999;
    border-color: #133784;
}
.navbar-inverse .dropdown-menu {
    background-color: #3b5999;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    color: #fff;
    background-color: #3d578e;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    color: #fff;
    background-color: #3d578e;
}
element.style {
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#view-video{
    display: block;
}
#view-iframe{
    display: none;
}
#bt-view-top {
    display: none;
}
@media (max-width: 991px)  {
    #bt-view-top{
        display: block;
    }
    #top-like{
        display: none;
    }
    .search-box div{
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 1990px)  {
    .view-title{
        position: relative;
    }
    #view-video{
        display: none;
    }
    #view-iframe{
        display: block;
    }
}
@media (min-width: 992px)  {
    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1366px;
    }
    /*#view-video{*/
        /*display: block;*/
        /*max-height: 405px;*/
    /*}*/
    /*.video-img{*/
        /*margin-top: -25px;*/
    /*}*/
    .col-md-3.new-post-item {
        width: 25%;
    }
}
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] ,.fb-comments span:first-child{
    width: 100% !important;
}
#target-comments{
    overflow-y: auto;
    height: 436px;
}
.video-modal{

}
.video-modal .modal-header {
     padding: 5px 10px 5px 10px;
     border-bottom: 1px solid #e5e5e5;
     min-height: 10.4px;
 }
.video-modal .modal-body{
    padding: 0;
}
.video-modal .modal-body .col-md-8{
    padding-right: 0;
}
.video-modal .modal-body .col-md-4{
    padding: 2px;
}
.video-modal .modal-dialog{
    width: 90%;
}
/*user*/
.topUsers{
    font-size: 22px;
}
.play-btn{
    position: absolute;
    height: 70px;
    width: 100px;
    background: url("../img/play_button.png") no-repeat;
    background-size: 100%;
    top: 30%;
    left: 45%;

}
#view-video:hover .play-btn, .video-item:hover .play-btn{
    background: url("../img/play_button_hover.png") no-repeat;
    background-size: 100%;
}
.content{
    background-color: #ffffff;
    overflow: hidden;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin: 0 auto;
}
.signup-wrapper .header {
    padding: 60px 0 0;
    margin: 0 auto;
}
.signup-wrapper .content{
    min-height: 768px;
}
.fixed-ads{
    position: fixed;
    top: 45px;
}
.form-error {
    border-color: red;
}
.error-message {
    color: red;
}
.video-share{
    position: absolute;
    z-index: 10;
    bottom: 10%;
    display: none;
}
.video-share ul{
    padding: 0;
    margin: 0 auto 10px auto;
    width: 235px;
}
.count{
    z-index: 10;
    position: absolute;
    font-size: 25px;
    color: #fff;
    width: 100%;
    top: 0;
    line-height: 80px;
    background-color: rgba(59, 89, 153, 0.8);
    display: none;
}
.video-share{
}
.node-body{
    height: 385px;
    overflow: hidden;
}
.node-view{
    color: rgba(0, 4, 100, 0.73);
    font-weight: bold;
    border-left: 1px rgba(31, 30, 30, 0.27) solid;
    border-bottom: 1px rgba(31, 30, 30, 0.27) solid;
    border-right: 1px rgba(31, 30, 30, 0.27) solid;
    padding-left: 10px;
    padding-right: 10px;
}
.author{
    font-size: 14px;
    color: #3b5999;
    font-weight: bold;
}
.author-info{
    margin-left: 45px;
    margin-bottom: 10px;
}
.date{
    color: #9197a4;
    font-size: 12px;
}
.row.new-title {
    margin: 2px;
}
.row.new-img {
    margin: 2px;
}
.row.new-img img{
    margin: 0 auto;
    width: 100%;
}
.new-title h3 {
    margin: 0;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 100%;
}
.col-md-3.new-post-item {
    text-align: center;
}
img.logo {
    width: 27px;
    height: 27px;
    margin-top: -5px;
    margin-left: 5px;
}
.search-box div{
    width: 350px;
    margin-top: 10px;
    height: 25px;
}
.search-box span{
    position: absolute;
    z-index: 10;
    height: 20px;
    padding: 0px 10px 0px 10px ;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    margin-top: 3px;
}
.search-box input{
    height: 25px;
    padding: 0 35px 0 0;
    border-left: 0;
    border-radius: 5px;
}
.like-box{
    border-top: 1px rgba(0, 0, 0, 0.14) solid;
    border-bottom: 1px rgba(0, 0, 0, 0.14) solid;
    margin-bottom: 10px;
}
.like-box .like-box-title {
    font-size: 14px;
    color: red;
    font-weight: bold;
}
.like-box .like-haytyet{
    padding-left: 20px;
    margin-bottom: 10px;
}
#user-info .media{
    margin-bottom: 10px;
}
#user-info .media img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
.note{
    margin-bottom: 10px;
}
.note .alert {
    font-size: 15px;
    font-weight: 300;
}
h3.topUsers {
    font-size: 16px;
}
.bt-search{
    position: absolute;
    right: 0px;
    top: 5px;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 500px;
    padding: 3px;
    text-align: left;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid rgba(51, 51, 51, 0.89);
    border: 1px solid rgb(5, 5, 5);
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    white-space: normal;
    color: #000;
}
.popover-content{
    min-width: 300px;
    padding: 0;
}
.popover-content ul{
    margin: 0;
}
.popover-content li{
    padding: 2px;
}
#user-post-form .modal-body{
    padding-bottom: 0px;
    padding-top: 0px;
}
#user-post-form .modal-footer{
    padding-top: 0px;
    border-top: none;
}
div#youtube_img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.y-img{
    display: inline-block;
    margin: 5px;
}